.sds--dropdown {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: var(--sds--space--1);
  }

  select {
    width: 100%;
    min-height: rem(48px);
    padding: var(--sds--space--1-and-a-half);
    padding-right: calc(var(--sds--space--1-and-a-half) + var(--sds--space--1-and-a-half) + #{rem(15px)});
    border: rem(1px) solid var(--sds--color--gray--400);
    border-radius: rem(6px);
    appearance: none;

    &:not(:disabled) {
      border-color: var(--sds--color--gray--400);

      &:hover {
        border-color: var(--sds--color--black);
      }
    }

    &:disabled {
      background-color: var(--sds--color--gray--100);
      border-color: var(--sds--color--gray--100);

      + #{$self}--icon {
        color: var(--sds--color--gray--300);
      }
    }
  }

  &--message {
    margin-top: var(--sds--space--1);
  }

  &--status-error {
    #{$self}--message {
      color: var(--sds--color--red--400);
    }

    select {
      &:not(:disabled) {
        border-color: var(--sds--color--red--400);
      }
    }
  }

  &--input-and-icon {
    // To position icon.
    position: relative;

    #{$self}--icon {
      pointer-events: none;
      position: absolute;
      right: var(--sds--space--1-and-a-half);
      top: 50%;
      transform: translateY(-50%);
      // Take correct own height.
      display: flex;
    }
  }
}
