.badge {
  padding: 0 var(--space--one-and-a-half);
  @include align-icon-defaults(em(8px), center);
  border-radius: rem(18px);
  border: rem(1px) solid var(--color--gray--400);

  &--visual {
    display: flex;
  }

  &--textual {
    padding: var(--space--1) 0;
    font-weight: 600;
  }
}
