.sds--badge {
  background-color: var(--sds--color--white);
  padding: 0 var(--sds--space--1-and-a-half);
  @include align-icon-defaults(em(8px), center);
  border-radius: rem(18px);
  border: rem(1px) solid var(--sds--color--gray--400);

  &--visual {
    display: flex;
  }

  &--textual {
    padding: var(--sds--space--1) 0;
    font-weight: 600;
  }
}
