.sds--table-basic {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: var(--sds--color--gray--100);

    td {
      padding: var(--sds--space--1) var(--sds--space--2);
    }

    tr {
      + tr {
        border-top: rem(1px) solid var(--sds--color--white);
      }
    }
  }
}
