.footer {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  &--single-bar {
    background-color: var(--sds--color--gray--200);
    padding: var(--sds--space--1-and-a-half) 0;

    #{$self}--inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: var(--sds--space--3) var(--sds--space--4);

      nav.menu {
        a {
          font-weight: 600;

          &:link,
          &:visited {
            @include lnk-decoration(show);
            @include lnk-color(var(--sds--palette--main-color--400));
          }
        }
      }
    }
  }

  &--multiple-bars {
    .footer--top {
      background-color: var(--sds--color--gray--200);
      padding-top: var(--sds--space--3);
      padding-bottom: var(--sds--space--3);

      nav {
        ul {
          justify-content: center;
          gap: var(--sds--space--1) var(--sds--space--3);
        }
      }
    }

    .footer--bottom {
      background-color: var(--sds--color--black);
      color: var(--sds--color--white);
      padding-top: var(--sds--space--2);
      padding-bottom: var(--sds--space--2);

      .footer--bottom--inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: var(--sds--space--3) var(--sds--space--4);

        nav {
          ul {
            gap: var(--sds--space--1) var(--sds--space--4);
          }
        }
      }
    }

    nav {
      font-family: $font-nunito-sans;
      font-size: rem(14px);
      line-height: calc(19 / 14);

      ul {
        display: flex;
        flex-wrap: wrap;

        a {
          @include lnk-decoration(show);
        }
      }
    }
  }
}
