footer {
  .footer--top {
    background-color: var(--color--gray--200);
    padding-top: var(--space--3);
    padding-bottom: var(--space--3);

    nav {
      ul {
        justify-content: center;
        gap: var(--space--1) var(--space--3);
      }
    }
  }

  .footer--bottom {
    background-color: var(--color--black);
    color: var(--color--white);
    padding-top: var(--space--2);
    padding-bottom: var(--space--2);

    .footer--bottom--inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: var(--space--3) var(--space--4);

      nav {
        ul {
          gap: var(--space--1) var(--space--4);
        }
      }
    }
  }

  nav {
    font-family: $font-nunito-sans;
    font-size: rem(14px);
    line-height: calc(19/14);

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    a {
      @include lnk-decoration(show);
    }
  }
}
