.chips {
  @include align-icon-defaults(em(8px), center);
  border-radius: var(--space--2);
  background-color: var(--palette--support-color--100);
  padding: rem(4px) rem(12px);

  &--visual {
    display: flex;
  }

  &--textual {
    display: block;
    padding: rem(3px) 0;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--palette--support-color--100);
  }

  &--is-active {
    background-color: var(--palette--support-color--400);
    color: var(--color--white);

    &:hover {
      background-color: var(--palette--support-color--500);
    }
  }
}
