.chips {
  padding: 0 var(--space--one-and-a-half);
  @include align-icon-defaults(em(8px), center);
  border-radius: rem(16px);
  background-color: var(--palette--support-color--100);

  &--visual {
    display: flex;
  }

  &--textual {
    padding: var(--space--1) 0;
    display: block;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--palette--support-color--100);
  }

  &--is-active {
    background-color: var(--palette--support-color--400);
    color: var(--color--white);

    &:hover {
      background-color: var(--palette--support-color--500);
    }
  }
}
