.btn {
  @include btn-reset();
  font-weight: 600;
  padding: rem(14px) rem(24px);
  border-radius: rem(6px);
  border: rem(1px) solid transparent;
  @include align-icon-defaults(1em);
  flex-wrap: wrap;
  justify-content: center;

  &--small {
    padding: rem(10px) rem(24px);
  }

  &--full {
    flex: 1 1 auto;
  }

  &--primary {
    background-color: var(--palette--support-color--400);
    color: var(--color--white);

    &:hover {
      background-color: var(--palette--support-color--500);
    }

    &:active {
      background-color: var(--palette--support-color--100);
      color: var(--palette--support-color--500);
    }

    &:disabled {
      background-color: var(--color--gray--100);
      color: var(--color--gray--300);
    }
  }

  &--secondary {
    border-color: var(--color--gray--400);
    color: var(--color--gray--500);

    &:hover {
      border-color: var(--palette--support-color--500);
      background-color: var(--palette--support-color--100);
      color: var(--palette--support-color--500);
    }

    &:active {
      border-color: var(--palette--support-color--500);
      background-color: var(--palette--support-color--400);
      color: var(--color--white);
    }

    &:disabled {
      border-color: var(--color--gray--300);
      background-color: var(--color--gray--100);
      color: var(--color--gray--300);
    }
  }

  &--tertiary {
    color: var(--palette--support-color--400);

    &:hover {
      background-color: var(--palette--support-color--100);
      color: var(--palette--support-color--500);
    }

    &:active {
      background-color: var(--palette--support-color--100);
      color: var(--palette--support-color--500);
    }

    &:disabled {
      background-color: var(--color--gray--100);
      color: var(--color--gray--300);
    }
  }

  svg {
    width: rem(12px);

    [stroke-width] {
      stroke-width: rem(3px);
    }
  }
}

.actions--outer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: rem(12px) rem(24px);
}
