button {
  @include btn-reset();
  text-align: left;
  font-weight: inherit;
  color: currentColor;
  // Take correct own height.
  display: inline-flex;
}

.btn {
  font-weight: 600;
  padding: var(--space--1-and-a-half) var(--space--3);
  min-height: rem(48px);
  border-radius: rem(6px);
  border: rem(1px) solid transparent;
  @include align-icon-defaults(1em, center);
  flex-wrap: wrap;
  justify-content: center;

  &--small {
    padding: var(--space--1) var(--space--3);
    min-height: rem(40px);
  }

  &--full {
    flex: 1 1 auto;
  }

  &--primary {
    background-color: var(--palette--support-color--400);
    color: var(--color--white);

    &:hover {
      background-color: var(--palette--support-color--500);
    }

    &:active {
      background-color: var(--palette--support-color--100);
      color: var(--palette--support-color--500);
    }

    &:disabled {
      background-color: var(--color--gray--100);
      color: var(--color--gray--300);
    }
  }

  &--secondary {
    border-color: var(--color--gray--400);
    color: var(--color--gray--500);

    &:hover {
      border-color: var(--palette--support-color--500);
      background-color: var(--palette--support-color--100);
      color: var(--palette--support-color--500);
    }

    &:active {
      border-color: var(--palette--support-color--500);
      background-color: var(--palette--support-color--400);
      color: var(--color--white);
    }

    &:disabled {
      border-color: var(--color--gray--300);
      background-color: var(--color--gray--100);
      color: var(--color--gray--300);
    }
  }

  &--tertiary {
    color: var(--palette--support-color--400);

    &:hover {
      background-color: var(--palette--support-color--100);
      color: var(--palette--support-color--500);
    }

    &:active {
      background-color: var(--palette--support-color--100);
      color: var(--palette--support-color--500);
    }

    &:disabled {
      background-color: var(--color--gray--100);
      color: var(--color--gray--300);
    }
  }

  &--ghost--dark {
    border-color: var(--color--gray--500);
    color: var(--color--black);

    &:hover {
      background-color: var(--color--black);
      border-color: var(--color--black);
      color: var(--color--white);
    }

    &:active {
      border-color: var(--color--black);
      background-color: var(--color--white);
      color: var(--color--black);
    }
  }

  &--ghost--light {
    border-color: var(--color--white);
    color: var(--color--white);

    &:hover {
      background-color: var(--color--white);
      border-color: var(--color--white);
      color: var(--color--black);
    }

    &:active {
      border-color: var(--color--white);
      background-color: var(--color--black);
      color: var(--color--white);
    }
  }

  svg {
    [stroke-width] {
      stroke-width: rem(3px);
    }
  }
}

.actions--outer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space--1-and-a-half) var(--space--3);
}
