input[type="checkbox"] {
  // Hide browser default checkbox, but keep original position,
  // for when html form validation tries to reach it.
  @include visually-hidden();

  + label {
    display: flex;
    align-items: baseline;
    gap: em(12px);

    .sds--checkbox--visual {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: rem(18px);
      height: rem(18px);
      border-radius: rem(2px);
    }
  }

  @include focus {
    + label {
      .sds--checkbox--visual {
        // Apply browser-default outline styling.
        @include outline-browser-default();
      }
    }
  }
  &:not(:checked) {
    + label {
      .sds--checkbox--visual {
        svg {
          opacity: 0;
        }
      }
    }
  }

  &:not(:disabled) {
    &:not(:checked) {
      + label {
        .sds--checkbox--visual {
          border: rem(1px) solid var(--sds--color--gray--400);
        }
      }

      &:hover {
        + label {
          .sds--checkbox--visual {
            border-color: var(--sds--palette--main-color--400);
          }
        }
      }

      @include focus {
        + label {
          .sds--checkbox--visual {
            border-color: var(--sds--palette--main-color--500);
          }
        }
      }
    }

    &:checked {
      + label {
        .sds--checkbox--visual {
          background-color: var(--sds--palette--main-color--400);
          border-color: transparent;
          color: var(--sds--color--white);
        }
      }

      &:hover {
        + label {
          .sds--checkbox--visual {
            background-color: var(--sds--palette--main-color--500);
          }
        }
      }
    }
  }

  &:disabled {
    + label {
      .sds--checkbox--visual {
        background-color: var(--sds--color--gray--100);
      }
    }

    &:checked {
      + label {
        .sds--checkbox--visual {
          color: var(--sds--color--gray--400);
        }
      }
    }
  }
}
