.tooltip {
  padding: 0 var(--space--1-and-a-half);
  border-radius: rem(6px);
  background-color: var(--color--gray--500);
  color: var(--color--white);
  display: inline-flex;
  align-items: center;

  &--textual {
    padding: var(--space--1) 0;
  }
}
