
// Colors partial
//
// Color-related variables should go in this file.


$color-palettes--support: (
  blue: (
    main: blue,
    support: green,
  ),
  green: (
    main: green,
    support: blue,
  ),
  neutral: (
    main: gray,
    support: green,
  ),
  orange: (
    main: orange,
    support: blue,
  ),
);

$status-colors: (
  default: (
    bg: var(--sds--color--gray--500),
    color: var(--sds--color--white),
    icon-bg: var(--sds--color--black),
  ),
  success: (
    bg: var(--sds--color--green--200),
    color: var(--sds--color--black),
    icon-bg: var(--sds--color--green--400),
  ),
  warning: (
    bg: var(--sds--color--yellow--200),
    color: var(--sds--color--black),
    icon-bg: var(--sds--color--yellow--500),
  ),
  error: (
    bg: var(--sds--color--red--200),
    color: var(--sds--color--black),
    icon-bg: var(--sds--color--red--400),
  ),
  info: (
    bg: var(--sds--color--blue--200),
    color: var(--sds--color--black),
    icon-bg: var(--sds--color--blue--400),
  ),
);
