
// Layout variables partial
//
// Layout-related variables (breakpoints and grids) should go in this file.

// Page layout settings.
$width-grid-max               : 1320px;
$space-page-padding           : 5vw;
$space-base-value             : 8px;

// Breakpoint settings.
$bp-sm                        : 375px;
$bp-md                        : 768px;
$bp-lg                        : 1024px;
$bp-xl                        : 1440px;
// $bp-grid-max is when the grid reached it's max-width ($width-grid-max)
// and stops growing ($width-grid-max plus double $space-page-padding).
$bp-grid-max                  : $width-grid-max * 100/(100 - (strip-unit($space-page-padding) * 2));

// Grid settings.
$grid-sizes: (
  sm: (
    bp: $bp-sm,
    bp-range: (
      min: $bp-sm,
      max: $bp-md,
    ),
    columns: 2,
  ),
  md: (
    bp: $bp-md,
    bp-range: (
      min: $bp-md,
      max: $bp-lg,
    ),
    columns: 6,
  ),
  lg: (
    bp: $bp-lg,
    columns: 12,
  ),
);
