.application-header {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  background-color: var(--color--gray--200);

  &--inner {
    display: flex;
    gap: var(--space--5);
  }

  &--branding {
    padding: var(--space--1-and-a-half) 0;
    align-self: center;
  }

  &--user {
    padding: var(--space--1-and-a-half) 0;
    margin-left: auto;
    @include align-icon-defaults(var(--space--5), center);
  }

  &--nav {
    > ul {
      height: 100%;
      display: flex;
      gap: var(--space--3);

      > li {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: rem(2px) solid transparent;

        // To position sub-menu.
        position: relative;

        > a {
          font-family: $font-nunito-sans;
          font-weight: 700;
          @include align-icon-defaults(em(8px, 16), center);
          @include lnk-decoration(off);

          &:link,
          &:visited {
            @include lnk-color(var(--color--gray--500), currentColor);
          }

          svg {
            [stroke-width] {
              stroke-width: rem(3px);
            }
          }
        }

        &.is-active {
          border-bottom-color: var(--palette--main-color--400);

          > a {
            &:link,
            &:visited {
              @include lnk-color(var(--palette--main-color--400), currentColor);
            }
          }
        }

        &.is-open {
          > a {
            svg {
              transform: rotate(180deg);
            }
          }
        }

        > ul {
          position: absolute;
          left: 0;
          top: calc(100% + #{rem(2px)});
          width: rem(300px);
          background-color: var(--color--white);
          padding: var(--space--3);
          border-radius: 0 0 rem(6px) rem(6px);
          box-shadow: 0 rem(4px) rem(4px) 0 rgba(0, 0, 0, 0.25);

          > li {
            + li {
              margin-top: var(--space--3);
            }

            > a {
              font-weight: 600;
              @include lnk-decoration(off);
            }
          }
        }
      }
    }
  }

  &--negative {
    background-color: var(--palette--main-color--400);
    color: var(--color--white);

    #{$self}--nav {
      > ul {
        > li {
          > a {
            &:link,
            &:visited {
              @include lnk-color(var(--color--white));
            }
          }

          &.is-active {
            border-bottom-color: var(--color--white);

            &:link,
            &:visited {
              @include lnk-color(var(--color--white));
            }
          }
        }
      }
    }
  }
}
