.sds--pagination {
  &--nav {
    ul {
      display: flex;
      gap: var(--sds--space--1);
    }

    a,
    .link-placeholder {
      width: rem(40px);
      height: rem(40px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: rem(1px) solid transparent;
      border-radius: rem(6px);
    }

    a {
      text-decoration: none;

      &:not(:link) {
        background-color: var(--sds--color--gray--100);
        border-color: var(--sds--color--gray--300);
        color: var(--sds--color--gray--300);
      }

      &:link,
      &:visited {
        border-color: var(--sds--color--gray--400);
        color: var(--sds--color--gray--500);

        &.is-active,
        &:active,
        &:hover {
          background-color: var(--sds--palette--main-color--100);
          color: var(--sds--palette--main-color--500);
          border-color: var(--sds--palette--main-color--500);
        }
      }
    }

    .link-placeholder {
      border-color: var(--sds--color--gray--400);
      color: var(--sds--color--gray--500);
    }
  }
}
