.sds--tab-navigation {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  &--nav {
    ul {
      display: flex;
      gap: var(--sds--space--1);
    }

    button {
      @include btn-reset();
      padding: var(--sds--space--1-and-a-half) var(--sds--space--2);
      min-height: rem(48px);
      font-weight: 600;
    }
  }

  &--default {
    #{$self}--nav {
      button {
        background-color: var(--sds--color--gray--300);
        border: rem(1px) solid transparent;
        border-top-width: rem(3px);

        &:hover {
          background-color: var(--sds--palette--support-color--100);
        }

        &.active {
          background-color: var(--sds--color--white);
          border-top-color: var(--sds--palette--support-color--400);

          &:hover {
            background-color: var(--sds--palette--support-color--100);
          }
        }
      }
    }
  }

  &--bordered {
    #{$self}--nav {
      button {
        background-color: var(--sds--color--gray--200);
        border: rem(1px) solid transparent;
        border-top-width: rem(3px);
        border-bottom-color: var(--sds--color--gray--300);

        &:hover {
          background-color: var(--sds--palette--support-color--100);
        }

        &.active {
          background-color: var(--sds--color--white);
          border-top-color: var(--sds--palette--support-color--400);
          border-left-color: var(--sds--color--gray--300);
          border-right-color: var(--sds--color--gray--300);
          border-bottom-color: var(--sds--color--white);

          &:hover {
            background-color: var(--sds--palette--support-color--100);
          }
        }
      }
    }

    #{$self}--content {
      border: rem(1px) solid var(--sds--color--gray--300);
      margin-top: rem(-1px);
    }
  }

  &--basic {
    #{$self}--nav {
      border-bottom: rem(1px) solid var(--sds--color--gray--300);

      button {
        border-bottom: rem(4px) solid transparent;
        color: var(--sds--palette--support-color--400);

        &:hover {
          color: var(--sds--palette--support-color--500);
        }

        &.active {
          color: var(--sds--color--black);
          border-bottom-color: var(--sds--palette--support-color--400);
          box-shadow: 0 rem(1px) 0 0 var(--sds--palette--support-color--400);
        }
      }
    }
  }
}
