.tab-navigation {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  &--nav {
    ul {
      display: flex;
      gap: var(--space--1);
    }

    button {
      @include btn-reset();
      padding: var(--space--one-and-a-half) var(--space--2);
      min-height: rem(48px);
      font-weight: 600;
    }
  }

  &--default {
    #{$self}--nav {
      button {
        background-color: var(--color--gray--300);
        border: rem(1px) solid transparent;
        border-top-width: rem(3px);

        &:hover {
          background-color: var(--palette--support-color--100);
        }

        &.active {
          background-color: var(--color--white);
          border-top-color: var(--palette--support-color--400);

          &:hover {
            background-color: var(--palette--support-color--100);
          }
        }
      }
    }
  }

  &--bordered {
    #{$self}--nav {
      button {
        background-color: var(--color--gray--200);
        border: rem(1px) solid transparent;
        border-top-width: rem(3px);
        border-bottom-color: var(--color--gray--300);

        &:hover {
          background-color: var(--palette--support-color--100);
        }

        &.active {
          background-color: var(--color--white);
          border-top-color: var(--palette--support-color--400);
          border-left-color: var(--color--gray--300);
          border-right-color: var(--color--gray--300);
          border-bottom-color: var(--color--white);

          &:hover {
            background-color: var(--palette--support-color--100);
          }
        }
      }
    }

    #{$self}--content {
      border: rem(1px) solid var(--color--gray--300);
      margin-top: rem(-1px);
    }
  }

  &--basic {
    #{$self}--nav {
      border-bottom: rem(1px) solid var(--color--gray--300);

      button {
        border-bottom: rem(4px) solid transparent;

        &.active {
          color: var(--color--black);
          border-bottom-color: var(--palette--support-color--400);
          box-shadow: 0 rem(1px) 0 0 var(--palette--support-color--400);
        }
      }
    }
  }
}
