.sds--text-area {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: var(--sds--space--1);
  }

  // Target input via class, because it can be of many types.
  textarea {
    width: 100%;
    min-height: rem(48px);
    padding: var(--sds--space--1-and-a-half);
    border: rem(1px) solid transparent;
    border-radius: rem(6px);

    // Take correct own height.
    display: block;

    &::-moz-placeholder {
      opacity: 1;
    }
    &::placeholder {
      opacity: 1;
      color: var(--sds--color--gray--400);
    }

    &:not(:disabled) {
      border-color: var(--sds--color--gray--400);

      &:hover {
        border-color: var(--sds--color--black);
      }
    }

    &:disabled {
      background-color: var(--sds--color--gray--100);
      border-color: var(--sds--color--gray--100);
    }
  }

  &--message {
    margin-top: var(--sds--space--1);
  }

  &--status-error {
    #{$self}--message {
      color: var(--sds--color--red--400);
    }

    textarea {
      &:not(:disabled) {
        border-color: var(--sds--color--red--400);
      }
    }
  }
}
