.sds--user-info {
  @include align-icon-defaults(var(--sds--space--1), center);

  &--textual {
    text-align: right;

    .name {
      font-weight: 600;
      line-height: calc(22 / 16);
    }

    .role {
      color: var(--sds--palette--main-color--400);
    }
  }

  &--button {
    flex-shrink: 0;
    @include align-icon-defaults(1em, center);
    justify-content: center;
    background-color: var(--sds--palette--main-color--400);
    color: var(--sds--color--white);
    width: rem(32px);
    height: rem(32px);
    border-radius: 50%;

    svg {
      [stroke-width] {
        stroke-width: rem(3px);
      }
    }
  }
}
