.breadcrumb {
  font-size: rem(14px);
  line-height: calc(18/14);

  &--list {
    @include align-icon-defaults(em(11px, 14), center);
    color: var(--color--gray--500);
    flex-wrap: wrap;

    > li {
      @include align-icon-defaults(em(11px, 14), center);
    }
  }

  &--divider {
    flex-shrink: 0;
    display: flex;

    svg {
      width: em(7px, 14);

      [stroke-width] {
        stroke-width: rem(2px, 14);
      }
    }
  }

  &--current {
    font-weight: 700;
  }

  a {
    @include lnk-decoration(show);
    @include lnk-color($hover-color: var(--color--black));
  }
}
