.breadcrumb {
  &--list {
    @include align-icon-defaults(em(11px, 14), center);
    color: var(--color--gray--500);
    flex-wrap: wrap;

    > li {
      @include align-icon-defaults(em(11px, 14), center);
    }
  }

  &--divider {
    flex-shrink: 0;
    display: flex;

    svg {
      [stroke-width] {
        stroke-width: rem(2px, 14);
      }
    }
  }

  a {
    @include lnk-decoration(show);

    &:link {
      @include lnk-color($hover-color: var(--color--black));
    }

    &[aria-current="page"] {
      font-weight: 700;
    }
  }
}
