input[type="radio"] {
  // Hide browser default radio, but keep original position,
  // for when html form validation tries to reach it.
  @include visually-hidden();

  + label {
    display: flex;
    align-items: baseline;
    gap: em(12px);

    .radio--visual {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: rem(18px);
      height: rem(18px);
      border-radius: 50%;
      border: rem(1px) solid transparent;

      &:before {
        content: "";
        width: rem(10px);
        height: rem(10px);
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }

  @include focus {
    + label {
      .radio--visual {
        // Apply browser-default outline styling.
        @include outline-browser-default();
      }
    }
  }

  &:not(:disabled) {
    &:not(:checked) {
      + label {
        .radio--visual {
          border-color: var(--sds--color--gray--400);
        }
      }

      &:hover {
        + label {
          .radio--visual {
            border-color: var(--sds--palette--main-color--400);
          }
        }
      }

      @include focus {
        + label {
          .radio--visual {
            border-color: var(--sds--palette--main-color--500);
          }
        }
      }
    }

    &:checked {
      + label {
        .radio--visual {
          border-color: var(--sds--palette--main-color--400);

          &:before {
            background-color: var(--sds--palette--main-color--400);
          }
        }
      }

      &:hover {
        + label {
          .radio--visual {
            border-color: var(--sds--palette--main-color--500);

            &:before {
              background-color: var(--sds--palette--main-color--500);
            }
          }
        }
      }

      @include focus {
        + label {
          .radio--visual {
            border-color: var(--sds--palette--main-color--400);

            &:before {
              background-color: var(--sds--palette--main-color--400);
            }
          }
        }
      }
    }
  }

  &:disabled {
    + label {
      .radio--visual {
        background-color: var(--sds--color--gray--100);
      }
    }

    &:checked {
      + label {
        .radio--visual {
          &:before {
            background-color: var(--sds--color--gray--400);
          }
        }
      }
    }
  }
}
