.sds--modal {
  &.sds--backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  &--container {
    max-width: rem(510px);
    margin: auto;
    border-radius: rem(8px);
    overflow: hidden;
    box-shadow: 0 rem(4px) rem(4px) rem(1px) var(--sds--color--pitch-black--dimmed--25);
  }

  &--title {
    background-color: var(--sds--palette--main-color--400);
    color: var(--sds--color--white);
    padding: var(--sds--space--2) var(--sds--space--3);
    display: flex;
    justify-content: space-between;
    gap: var(--sds--space--1);
  }

  &--content {
    background-color: var(--sds--color--white);
    padding: var(--sds--space--3);
  }

  &--actions {
    justify-content: flex-end;
  }
}
