.sds--language-switcher {
  // Prepare for when link color needs to be changed.
  --lnk--base-color: var(--sds--palette--support-color--400);

  ul {
    @include align-icon-defaults(em(9px, 14), center);

    li {
      @include align-icon-defaults(em(9px, 14), center);
      flex-shrink: 0;
    }

    a {
      &:link,
      &:visited {
        @include lnk-decoration(show);

        &:not(.is-active) {
          font-weight: 600;
          @include lnk-color(var(--lnk--base-color));
        }

        &.is-active {
          @include lnk-color();
        }
      }
    }
  }
}
