.sds--object-header {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  background-color: var(--sds--color--gray--200);

  &--bg-is-lighter {
    background-color: var(--sds--color--gray--100);
  }

  &:not(#{$self}--has-header) {
    padding-top: var(--sds--space--4);
  }

  &:not(#{$self}--has-footer) {
    padding-bottom: var(--sds--space--3);
  }

  &--header {
    .sds--breadcrumb {
      padding-top: var(--sds--space--1);
    }
  }
  &--main {
    display: flex;
    gap: var(--sds--space--5);

    #{$self}--input {
      flex: 1 1 auto;
    }

    #{$self}--actions {
      flex: 0 0 auto;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: var(--sds--space--2);
    }
  }
}
