
.alert {
  &--inner {
    min-height: rem(60px);
    padding: var(--space--one-and-a-half) 0;
    display: flex;
    align-items: center;
    gap: var(--space--3);
  }

  &--visual {
    flex-shrink: 0;
    display: flex;

    svg {
      color: var(--color--white);
    }
  }

  &--textual {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space--one-and-a-half) var(--space--3);

    p {
      font-weight: 600;
    }
  }

  // Apply status colors.
  // See "$status-colors" for defined status-colors.
  @each $status, $settings in $status-colors {
    &--status-#{$status} {
      background-color: map-get($settings, bg);

      p {
        color: map-get($settings, color);
      }

      svg {
        .bg {
          fill: map-get($settings, icon-bg);
        }
      }
    }
  }
}

