
.alert {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  .page-container {
    #{$self}--inner {
      min-height: rem(60px);
      gap: var(--sds--space--3);
      padding-left: unset;
      padding-right: unset;
    }
  }

  &--inner {
    padding: var(--sds--space--1) var(--sds--space--2);
    display: flex;
    align-items: center;
    gap: var(--sds--space--1-and-a-half);
  }

  &--visual {
    flex-shrink: 0;
    display: flex;

    svg {
      color: var(--sds--color--white);
    }
  }

  &--textual {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--sds--space--1-and-a-half) var(--sds--space--3);

    p {
      font-weight: 600;
    }
  }

  // Apply status colors.
  // See "$status-colors" for defined status-colors.
  @each $status, $settings in $status-colors {
    &--status-#{$status} {
      background-color: map-get($settings, bg);

      p {
        color: map-get($settings, color);
      }

      svg {
        .bg {
          fill: map-get($settings, icon-bg);
        }
      }
    }
  }
}

