.sds--text-field {
  // Set variable to be able to nest "&" inside "&".
  $self: &;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: var(--sds--space--1);
  }

  // Target input via class, because it can be of many types.
  input#{$self}--input, textarea#{$self}--input {
    width: 100%;
    min-height: rem(48px);
    padding: var(--sds--space--1-and-a-half);
    border: rem(1px) solid transparent;
    border-radius: rem(6px);

    &::-moz-placeholder {
      opacity: 1;
    }
    &::placeholder {
      opacity: 1;
      color: var(--sds--color--gray--400);
    }

    &:not(:disabled) {
      border-color: var(--sds--color--gray--400);

      &:hover {
        border-color: var(--sds--color--black);
      }
    }

    &:disabled {
      background-color: var(--sds--color--gray--100);
      border-color: var(--sds--color--gray--100);
    }
  }

  &--shape {
    display: flex;
    gap: var(--sds--space--2);
  }

  &--message {
    margin-top: var(--sds--space--1);
  }

  &--status-error {
    #{$self}--message {
      color: var(--sds--color--red--400);
    }

    input#{$self}--input {
      &:not(:disabled) {
        border-color: var(--sds--color--red--400);
      }
    }
  }

  &--has-icon {
    #{$self}--input-and-icon {
      flex-grow: 1;

      // To position icon.
      position: relative;

      input#{$self}--input {
        padding-right: calc(var(--sds--space--1-and-a-half) + #{rem(25px)});
        flex-grow: 1;
      }

      #{$self}--icon {
        position: absolute;
        right: var(--sds--space--1-and-a-half);
        top: 50%;
        transform: translateY(-50%);
        // Take correct own height.
        display: flex;
      }
    }
  }
}
